:root {
  --color-primary: #000;
  --color-hero-text: #fff;
  --overlay: rgba(0, 0, 0, 0.6);

  --container-max: 1100px; 
  --inner-max: 1052px;         
}

/* =========================
   БАЗОВЫЕ СТИЛИ
   ========================= */

html,
body {
  margin: 0;
  padding: 0;
  min-width: 1100px;

  font-family: "Raleway", Arial, sans-serif;
  color: var(--color-primary);
  background-color: #fff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* =========================
   HEADER
   ========================= */

.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  max-width: var(--container-max);
  margin: 0 auto 96px;
  padding: 92px 50px 0;
}

/* — МЕНЮ — */

.header__menu {}

.header__links-list {
  display: flex;
  gap: 32px;
  padding: 0;
  margin: 0;
}

.header__links-list-item {
  list-style: circle;
  margin-left: 18px;
  font-size: 18px;
  line-height: 21px;
}

.header__links-list-item:first-child {
  list-style: none;
  margin-left: 0;
}

.header__link {
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: 1px solid var(--color-primary);
  text-transform: lowercase;
}

.header__link_active {
  border-bottom: none;
}

.header__link:hover {
  opacity: 0.6;
}

/* — ЛОГО — */

.header__logo {
  justify-self: center;
}

.header__logo-image {
  display: block;
  width: 148px;
  height: 105px;
}

/* — АДРЕС — */

.address {
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.address a {
  text-decoration: none;
  border-bottom: 1px solid var(--color-primary);
  color: inherit;
}

.address a:hover {
  opacity: 0.7;
}

.header__address {
  max-width: 240px;
  justify-self: end;
  text-align: left;
}

/* =========================
   COVER
   ========================= */

.cover {
  position: relative;

  max-width: var(--container-max);
  margin: 0 auto;

  padding: 165px 50px 51px;

  min-height: 757px;

  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: var(--overlay);
}

/* — ЗАГОЛОВОК — */

.cover__title {
  position: relative;
  z-index: 2;
  margin: 0;

  font-size: 100px;
  line-height: 115px;
  font-weight: 700;
  color:#fff;

  text-transform: uppercase;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}
.aligned-text_center {
  text-align: center;
}
.aligned-text_right {
  text-align: right;
}

/* — ОПИСАНИЕ — */

.cover__description {
  margin-top: 135px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
  z-index: 2;
}

.cover__description-text {
  font-size: 22px;
  text-transform: uppercase;
  color: var(--color-hero-text);
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.bet-button {
  padding: 12px 32px;
  font-size: 22px;
  text-transform: uppercase;

  background: transparent;
  border: 1px solid var(--color-hero-text);
  color: var(--color-hero-text);

  cursor: pointer;
}

.bet-button:hover {
  opacity: 0.7;
}

/* =========================
   LOTS
   ========================= */

.lots {
  max-width: var(--inner-max);
  margin: 179px auto 146px;
}

.lots__heading {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 27px;
}

/* — СПИСОК КАРТОЧЕК — */

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;

  padding: 0;
  margin: 0 0 30px;
  list-style: none;
}

.lots__card-list-item {
  flex: 0 0 334px;
}

/* — КАРТОЧКА — */

.card-link {
  display: block;
  text-decoration: none;
  height: 100%;
}

.card {
  position: relative;

  min-height: 563px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 51px 40px 48px;

  background-size: cover;
  background-position: center;
  color: var(--color-hero-text);
}

.card .overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: var(--overlay);
}

.card__title,
.card__text {
  position: relative;
  z-index: 2;
}

.card__title {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: underline;
}

.card__text {
  font-size: 20px;
  line-height: 24px;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.lots__look-more-link {
  font-size: 20px;
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: 1px solid var(--color-primary);
  text-transform: lowercase;
}

.lots__look-more-link:hover {
  opacity: 0.7;
}

/* =========================
   ABOUT
   ========================= */

.about {
  max-width: var(--inner-max);
  margin: 0 auto 180px;

  display: grid;
  grid-template-columns: 430px 1fr;
  column-gap: 25px;
}

.about__logo {
  width: 240px;
  height: 240px;

  margin-left: 95px;

  border-radius: 50%;
  background-color: var(--color-primary);

  display: flex;
  justify-content: center;
  align-items: center;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin: 100px 0 24px;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
}

.about__text {
  margin: 0 0 24px 0;
  font-size: 20px;
  line-height: 24px;
}

.about__text:last-child {
  margin-bottom: 0;
}

/* =========================
   FOOTER
   ========================= */

.footer {
  max-width: var(--container-max);
  padding: 0 50px;
  margin: 0 auto 90px;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
}

.footer__address {
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  font-size: 18px;
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: 1px solid var(--color-primary);
  text-transform: lowercase;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__menu-link:hover {
  opacity: 0.7;
}

.footer__social-list {
  display: flex;
  gap: 48px;
  justify-self: end;

  margin: 0;
  padding: 0;
  list-style: none;
}

.footer__social-list-item img {
  width: 48px;
  height: 48px;
  display: block;
}
